<form> //TODO: [FormControl]

  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nazwa" [(ngModel)]="restaurant.name" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Adres" [(ngModel)]="restaurant.details.address" [ngModelOptions]="{standalone: true}" ></textarea>
      </mat-form-field>
    </div>
  </div>
</form>

